body {
  height: 100%;
  background: linear-gradient(120deg, hsl(180, 100%, 50%), hsl(240, 42%, 47%));
  
}


h1 {font-style: oblique;
  padding-top: 4rem;
  padding-left: 1rem;

}

.OverallContainer {
  height: 70rem;
  width: 90rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
    
}


.OutsideContainerLeft {
height: 60rem;
width: 40rem;

display: flex;
flex-direction: column;
gap: 1.5rem;

}

.ContainerTopLeft {
height: 23rem;
width: 35rem;
/* background-color: hsl(180, 74%, 45%); */
background: linear-gradient(-200deg,  hsl(240, 42%, 80%), hsl(180, 100%, 50%));
border-radius: 2rem;
padding-top: 1rem;
padding-left: 2rem;
padding-right: 2rem;
margin-left: 1rem;
border-color: azure;
border-style: solid;

}

.ContainerBottomLeft {
  height: 23rem;
  width: 35rem;
  /* background-color: hsl(180, 74%, 45%); */
  background: linear-gradient(-200deg,  hsl(240, 42%, 80%), hsl(180, 100%, 50%));
  border-radius: 2rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 1rem;
  border-color: azure;
  border-style: solid;

  }

  .OutsideContainerRight {
    height: 60rem;
    width: 40rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

  }

  .ContainerRightTop {
    height:23rem;
    width:35rem;
    /* background-color: hsl(180, 74%, 45%); */
    background: linear-gradient(-200deg,  hsl(240, 42%, 80%), hsl(180, 100%, 50%));
    border-radius: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    border-color: azure;
    border-style: solid;

  }

  .ContainerRightBottom {
    height:23rem;
    width:35rem;
    /* background-color: hsl(180, 74%, 45%); */
    background: linear-gradient(-200deg,  hsl(240, 42%, 80%), hsl(180, 100%, 50%));
    border-radius: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    border-color: azure;
    border-style: solid;

  }
  

p {
  font-family: Georgia;
  font-size: 15px;
  padding-left: 1rem;
}

.Whale {
height: 11rem;
border-radius: 50%;

border-color: azure;
border-style: solid;

}

.WhaleContainer {
  height: 13rem;
  width: 100%;
  padding: 2rem;
  display: flex; 
  flex-direction: row;
  gap: 2rem;
  padding-bottom: 5rem;
}

.footer {
  padding: 2rem;
}

.DonationContainer {
  height: 10rem;
  background-color: hsl(180, 100%, 50%),;
  margin:0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Donation {
  height: 4rem;
  width: 49rem;
  /* background-color: hsl(180, 2%, 51%); */
  background-color: aquamarine;
  opacity: 0.90;
  border-radius: 2rem;
  border-color: antiquewhite;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}


a:link {
  color: black;
  font-family: 'Gill Sans';
  font-size: 21px;
}

a:hover {
  color: black;
  font-family: cursive;
  font-size: 30px;
}

.bankDetailsContainer {
  height: 32.5rem;
  width: 68rem;
  margin: 4rem;
  padding-left: 2.5rem;
  background: linear-gradient(-200deg,  hsl(240, 42%, 80%), hsl(180, 100%, 50%));
  border-color: antiquewhite;
  border-style: solid;
  border-radius: 2rem;
  padding-bottom: 2rem;
}


.TinyWhalesContainer {
  height: 8rem;
  background: linear-gradient(-200deg,  hsl(240, 42%, 80%), hsl(180, 100%, 50%));
  display:flex;
  flex-direction: row;
  border-radius: 2rem;
  gap:1rem;
  padding-top: 3rem;
  margin-bottom: 2rem;

}

.TinyWhale {
  height: 4rem;
  border-radius: 50%;

  border-color: azure;
  border-style: solid;
}


.BackToStart {
  height: 10rem;
  background-color: hsl(180, 100%, 50%),;
  margin:0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.Back {
  height: 4rem;
  width: 49rem;
  
  background-color: aquamarine;
  opacity: 0.90;
  border-radius: 2rem;
  border-color: antiquewhite;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Form {
  height: 50rem;
  width:max-content;
  background-color: aquamarine;
  display: flex;
  flex: column;
  gap: 2rem;
}

.TopContainer {
  margin-top: 2rem;
  padding-left: 17rem;
  padding-right: 1rem;
  height: 5rem;
  width: 70rem;
  background-color: hsl(180, 100%, 50%),;
  
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  
  align-items: center;
}



.AboutUs {
  height: 3.5rem;
  width: 12rem;  
  background-color: aquamarine;
  opacity: 0.90;
  border-radius: 2rem;
  border-color: antiquewhite;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.WhalesFund {
  height: 3.5rem;
  width: 22rem;  
  background-color: aquamarine;
  opacity: 0.90;
  border-radius: 2rem;
  border-color: antiquewhite;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ContactUs {
  height: 3.5rem;
  width: 12rem;
  margin-right: 2rem;
  background-color: aquamarine;
  opacity: 0.90;
  border-radius: 2rem;
  border-color: antiquewhite;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  

}

.ContainerWWLF {
  height: 65rem;
  width: 70rem;
 

}

.infoWWLF {
  height: 60rem;
  width: 70rem;
  margin-top: 5rem;
  margin-left: 2rem;
  padding-top: -4rem;
  padding-left: 2rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
  background: linear-gradient(-200deg,  hsl(240, 42%, 80%), hsl(180, 100%, 50%));
  border-radius: 2rem;
  border-color: antiquewhite;
  border-style: solid;

}


.infoContainer {
  height: 85rem;
  width: 70rem;
  
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.info {
  height: 65rem;
  width: 50rem;
  margin-top: 2rem;
  margin-left: 6rem;
 
  padding-left: 2rem;
  padding-right: 3rem;
  padding-bottom: 10rem;
  background: linear-gradient(-200deg, hsl(180, 100%, 50%), hsl(240, 42%, 80%));
  border-radius: 2rem;
  border-color: antiquewhite;
  border-style: solid;
  font-size: 16px;

}

.contactContainer {
  height: 85rem;
  width: 70rem;
  
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacts {

  height: 50rem;
  width: 50rem;
  margin-top: 2rem;
  margin-left: 6rem;
 
  padding-left: 2rem;
  padding-right: 3rem;
  padding-bottom: 10rem;
  background: linear-gradient(-200deg, hsl(180, 100%, 50%), hsl(240, 42%, 80%));
  border-radius: 2rem;
  border-color: antiquewhite;
  border-style: solid;
  font-size: 16px;

}

